DEBUG=True
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=example
DB_HOST=localhost
DB_PORT=5432
GOOGLE_OAUTH_CLIENT_ID=your-google-oauth-client-id
GOOGLE_OAUTH_CLIENT_SECRET=your-google-oauth-client-secret
GOOGLE_OAUTH_CALLBACK_URL=http://localhost:8000/api/v1/auth/google/callback/
CORS_ALLOWED_ORIGIN=http://localhost:8080
SECRET_KEY=your-django-secret-key
